.user-message {
  display: flex;
  justify-content: center;
  margin: auto;
  width: fit-content;
  max-width: 90%;
  padding: 0.5rem 1rem;
  border: 1px solid rgb(118, 148, 248);
  border-radius: 5px;
}

.user-message--error {
  border-color: red;
  background: rgb(240, 162, 162);
  color: red;
}
